/* COLORS 
    #a059ae
*/

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #003366;
}
/*HELPERS*/
.padding-section{
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
/*FONTS*/
p{
    text-align: justify;
}
h1{
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
h1 > span{
    font-size: 18px;
    line-height: 18px;
    display: block;
}
h1 strong{
    font-weight: 900;
    position: relative;
    color: #003366;
}
h1 strong span{
    position: relative;
    z-index: 5;
}
h1 strong:after{
    content: '';
    background: #06fe99;
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 30%;
    left: 5px;
    z-index: 1;
}
@media (min-width: 576px){
    h1{
        font-size: 32px;
        line-height: 32px;
    }
    h1 > span{
        font-size: 25px;
        line-height: 25px;
    }
    h1 strong:after{
        height: 25px;
        left: 10px;
    }

}
@media (min-width: 768px){
    h1{
        font-size: 42px;
        line-height: 42px;
    }
    h1 > span{
        font-size: 30px;
        line-height: 30px;
    }
    h1 strong:after{
        height: 30px;
        left: 10px;
    }

}
@media (min-width: 992px){
    h1{
        font-size: 50px;
        line-height: 50px;
    }
    h1 > span{
        font-size: 30px;
        line-height: 30px;
    }
    h1 strong:after{
        height: 40px;
        left: 10px;
    }

}




h2:not(.accordion-header){
    font-weight: 800;
    color: #f6f;
    position: relative;
    display: inline-block;
    font-style: italic;
}
h2 span{
    position: relative;
    z-index: 6;
}
h2:not(.accordion-header):after{
    content: attr(data-title);
    position: absolute;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #003366;
    font-size: 100px;
    right: -100px;
    top: -100%;
    font-style: normal;
    text-transform: uppercase;
    z-index: 3;
    opacity: .2;
}
h2.h2-left:after{
    font-size: 100px;
    left: -100px;
    top: -100%;
    font-style: normal;
    text-transform: uppercase;
    z-index: 3;
    opacity: .2;
}
h2.h2-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2.h2-center:after{
    font-size: 100px;
    left: 0;
    top: unset;
    font-style: normal;
    text-transform: uppercase;
    z-index: 3;
    opacity: .2;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

h3{
    font-weight: 700;
}


/*SHAPES*/
.header-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.header-border svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.header-border .shape-fill {
    fill: #FFFFFF;
}
.tilt-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.tilt-right svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.tilt-right .shape-fill {
    fill: #FFFFFF;
}
.tilt-left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt-left-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
    transform: rotateY(180deg);
}

.tilt-left-bottom .shape-fill {
    fill: #FFFFFF;
}

.triangle-asym-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.triangle-asym-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
    transform: rotateY(180deg);
}

.triangle-asym-1 .shape-fill {
    fill: #FFFFFF;
}
/*===== MAIN CONTENT =====*/
/*NAV*/
.navbar{
    box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    z-index: 10;
}


/*HEADER*/
header{
    margin-top: 80px;
    height: 450px;
    display: flex;
    align-items: center;
    background: #F1F1E6 url(bg-header.jpeg);
    background-position: center bottom;
    background-size: cover;
    position: relative;
}

/*DIRECTORES*/
.director{
    background: #035;
    padding: 10px 10px 10px 60px;
    border-radius: 5px;
    position: relative;
    color: #fff;
    margin-bottom: 30px;
    transform: skew(0deg, -10deg) translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
            animation: float 6s ease-in-out infinite;
}
.director .foto-director{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -50px;
    top: -50px;
}
.director .foto-director img{
    width: 100%;
}
.director h4{
    margin-bottom: 0;
    font-size: 20px;
    color: #06fe99;
    font-weight: 900;
}
.director p{
    margin-bottom: 0;
}
.director-item-2{
    left: 50px;
    top: 50px;
    animation-delay: 1s;
}
@media (min-width: 992px){
    .director-item-2{
        left: 0;
        top: 50px;
    }
}
.director .shadow{
    width: 100%;
    height: 1px;
    display: block;
    background: rgba(0,0,0,.1);
    position: absolute;
    bottom: -50px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.6) !important;
    -webkit-animation: inverse-float 6s ease-in-out infinite;
            animation: inverse-float 6s ease-in-out infinite;
}
.director.director-item-2 .shadow{
    animation-delay: 1s;
}
/*PROGRAMA*/
.programa{
    position: relative;
    background: #F1F1E6;
}
.modulo{
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.mod-icon {
    width: 100px;
    min-height: 235px;
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
    top: -15px;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;

    background-image:
    linear-gradient(#5050CC,#5050CC),
    linear-gradient(#3C3C99,#3C3C99),
    linear-gradient(#282866,#282866),
    linear-gradient(#141433,#141433),
    linear-gradient(#0d0d21,#0d0d21),
    linear-gradient(#000000,#000000);
    background-position:0% 0%, 0% 20%, 0% 40%, 0% 60%, 0% 80%, 0% 100%;
    background-size:100% 20%;

    box-shadow: 0 0px 10px 5px rgba(0,0,0,.2);
}
.mod-icon svg{
    fill: #06fe99;
    width: 40px;
}
.mod-content{
    padding: 30px 15px 30px 5px;
}
@media (min-width: 992px){
    .mod-content{
        padding: 30px;
    }
}
.mod-content h3{
    display: inline-block;
    font-size: 20px;
    color: #003366;
    font-weight: 800;
    font-style: italic;
    position: relative;
    margin-bottom: 15px;
}
.mod-content h3 span{
    position: relative;
    z-index: 5;
}
.mod-content h3:after{
    content: '';
    width: 100%;
    height: 20px;
    background: #06fe99;
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
}
.mod-content p{
    font-size: 14px;
}
.docente{
    display: flex;
    position: relative;
    margin-bottom: 25px;
}
.docente img{
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    flex-grow: 0;
    -moz-transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    z-index: 7;
    position: relative;
    top: -10px;
}

.docente-content{
    padding: 20px 15px 20px 65px;
    position: relative;
    left: -50px;
    background: #035;
    color: #fff;
}
@media (min-width: 992px){
    .docente-content{
        padding: 20px 30px 20px 70px;
    }
}
@media (min-width: 1200px){
    .docente-content{
        padding: 20px 30px 20px 100px;
    }
}
.docente-content h3{
    font-weight: 800;
    font-style: italic;
    color: #06fe99;
    font-size: 18px;
}
.docente-content p{
    font-size: 12px;
    text-align: left;
}
.docente .ver-mas{
    position: absolute;
    bottom: -10px;
    right: 40px;
}
.docentes-container > div{
    animation: fadeInLeft 1s ease-in-out;
    visibility: hidden;
}
.docentes-container > div:nth-child(2n){
    visibility: hidden;
    animation: fadeInRight 1s ease-in-out;
}
@media (min-width: 768px){
    .docentes-container > div:nth-child(2n){
        left: 50px;
        position: relative;
    }
}
@media (min-width: 992px){
    .docentes-container > div:nth-child(2n){
        left: 0;
        top: 70px;
        position: relative;
    }
}
@media (min-width: 1200px){
    .docentes-container > div:nth-child(2n){
        left: 0;
        top: 50px;
        position: relative;
    }
}
.admision{
    position: relative;
    background: #F1F1E6;
}

/*ACCORDION*/
.accordion-item{
    border-bottom: 2px solid #2673c0 !important;
}
.accordion-header .accordion-button{
    background-color: #003366;
    color: #06fe99;
}
.accordion-header .accordion-button:after{
    background-color: #0cfd99;
    border-radius: 3px;
    text-align: center;
    align-items: center;
}
.accordion-header .accordion-button:focus{
    box-shadow: none;
}
.accordion-body{
    padding: 40px;
}
/*BUTTONS*/

.btn-secondary{
    background: #06fe99;
    border-radius: 0;
    color: #003366;
    border: 2px solid #003366;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 11px;
}
.btn-secondary:hover{
    background: #003366;
    color: #06fe99;
    border: 2px solid #06fe99;
}

@keyframes float {
    0% {
      transform: skew(0deg, -10deg) translatey(0px);
    }
    50% {
      transform: skew(0deg, -10deg) translatey(-20px);
    }
    100% {
      transform: skew(0deg, -10deg) translatey(0px);
    }
  }

  @keyframes inverse-float {
    0% {
      bottom: -50px;
      transform: scale(1);
    }
    50% {
      bottom: -70px;
      transform: scale(1.2);
    }
    100% {
      bottom: -50px;
      transform: scale(1);
    }
  }

  .modulos-programa > div:nth-child(2n){
    animation-delay: .5s;
  }